<div class="flex items-center justify-center min-h-screen bg-gray-900">
  <div class="bg-white rounded-lg shadow-lg p-8 w-96">
    <!-- Logo centrado -->
    <div class="flex justify-center mb-6">
      <img src="assets/logo.png" alt="Logo" class="w-24 h-auto" />
    </div>
    <!-- Título -->
    <h3 class="text-center text-xl font-bold text-indigo-800 mb-6">Login</h3>
    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo Username -->
      <div class="flex items-center border rounded-lg mb-4 px-3 py-2">
        <i class="fas fa-user text-gray-500"></i>
        <input
          formControlName="emailOrUsername"
          type="text"
          placeholder="Username or email"
          class="w-full pl-3 text-sm text-gray-700 bg-transparent focus:outline-none"
        />
      </div>
      <!-- Campo Password -->
      <div class="flex items-center border rounded-lg mb-6 px-3 py-2">
        <i class="fas fa-lock text-gray-500"></i>
        <input
          formControlName="password"
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Password"
          class="w-full pl-3 text-sm text-gray-700 bg-transparent focus:outline-none"
        />
        <i
          class="fas cursor-pointer text-gray-500"
          [class.fa-eye]="!passwordVisible"
          [class.fa-eye-slash]="passwordVisible"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>

    </form>
    <!-- Botón de Login -->
    <button
      type="submit"
      class="w-full bg-indigo-800 text-white font-bold py-2 px-4 rounded-lg hover:bg-indigo-700 transition duration-300"
      (click)="onSubmit()"
    >
      Login
    </button>
    <!-- Links -->
    <div class="text-center mt-4 text-sm">
      <a href="" (click)="register($event)" class="text-gray-600 hover:text-indigo-800 transition duration-300">
        Register now
      </a>
    </div>
  </div>
</div>
